$width: 550px;
$height: 300px;
$padding: 10px;


    div#accept-quest {

    	background: rgba(0, 0, 0, 0.7);
        border: 2px solid #bbbbbb;
        position: absolute;
        right: 500px;
        bottom: 300px;
        transition: opacity 0.25s ease-out;
        opacity: 0; 
        text-align: center;
        width:$width;
        height:$height;
        color:white;
        z-index: -100;

        div.ActiveLabel {

            float:left;
            margin:5px;
        }

        div.CompleteLabel {
            
            float:right;
            margin:5px;

        }

        div#QuestObjectiveList {
            text-align:left;
        }

        p.questText { 
            margin-left:15px;
        }
        
    }

    div#accept-quest.open {
        transition: opacity 0.25s ease-out;
        opacity: 1;
        z-index: 20;
    }