$width: 550px;
$height: 600px;
$padding: 10px;

div#char-window {

    div#container {
        float: left;
        width: $width;
        min-height: $height;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        height: auto;

        li {
            padding: 0;
            list-style-type: none;
            margin: 5px;
        }
    }

    ul.slots li {
        cursor: pointer;
        border-radius: 3px;
        background: rgba(0, 0, 0, 0.6);
        border: 1px solid #bbbbbb;
        width: 40px;
        height: 40px;
        position: relative;

        span.quantity {

            position: absolute;
            right: 4px;
            bottom: 2px;
        }
        
    }

    ul.slots li:hover {
        box-shadow: inset 0px 0px 1px 1px  white;
    }

    ul.slots li.over {
        transition: all 0.1s linear;
        box-shadow: 0px 0px 7px 2px aliceblue;
        z-index: 0;
    }

   
    span.title {
        color: White;
        text-align: center;
    }



    div#container>div {
        float: left;
        padding: $padding;
    }

    div#equipment {
        position: relative;
        width: $width / 2;
        height: $height / 2;
        background: url("../assets/sprites/guy/guy.png") no-repeat scroll center center;

        div#slots {
            position: relative;
            float: left;
            width: 240px;
            height: 250px;
            left: 20px;
            top: 17px;     

            ul.slots {
                position: absolute;


            }
        
             ul.slots.top, ul.slots.bottom {   

                    left: 50%;

                    li {
                        float: left;
                    }
                }


                ul.slots.left, ul.slots.right {   

                    top: 25px;
                }


                ul.slots.bottom, ul.slots.top {   
                    left: 68px;
                }

        }

    }

    div#statistics {
        border-left: 1px solid white;
        width: $width / 2.5;
        height: $height / 2;

    }


    div#inventory {
        border-top: 1px solid white;
        margin-top: 5px;
        width: $width - $padding * 2;
        min-height: $height / 2;

        ul.categories>li {

            float: left;
            position: relative;
            display: block;
            width: 100%;

        }

        ul.categories>li span.title {
            font-size: 10pt;
            text-align: left;
            margin: 0 0 2px 3px;
            display: block;
        }

        ul.slots {
            float: left;

            li {
                float: left;
                color: White;
                margin: 2px;

                div.item {

                    float: left;
                    width: 40px;
                    height: 40px;

                }
            }
        }

    }

    div.item-tooltip {

        width: 190px;
        height: 150px;
        background: rgba(0, 0, 0, 0.9);
        border: 2px solid #bbbbbb;
        z-index: -10;
        position: fixed;
        opacity: 0;
        padding: 5px;

        span.item-title.rare {
            color: cornflowerblue;
        }

        span {
            color: White;
            float: left;
        }

                    
    }

    div.item-tooltip.open {
        z-index: 100;
        opacity: 1;
    }

}