div#sound-settings {
  background: rgba(0, 0, 0, 0.7);
  border: 2px solid #bbbbbb;
  position: absolute;
  left: 300px;
  top: 100px;
  transition: opacity 0.25s ease-out;
  opacity: 0;
  text-align: center;
  width: 550px;
  height: 600px;
  z-index: -100;
}

div#change-sound-popup {
  background: rgba(0, 0, 0, 0.7);
  border: 2px solid #bbbbbb;
  position: absolute;
  right: 500px;
  bottom: 300px;
  transition: opacity 0.25s ease-out;
  opacity: 0;
  text-align: center;
  width: 200px;
  height: 200px;
    color:white;
}

div#change-sound-popup.open {
    z-index: 1001;
    transition: opacity 0.25s ease-out;
    opacity: 1;
}

div#sound-settings div.header {
    width: 100%;
    height: 10%;
}

div#sound-settings div.header h4 {
      color: white;
}

div#sound-settings-body table {
    color:white;
    margin-left:auto;
    margin-right:auto;

}

td.key-value {
    text-align:left;
    padding-right:10px;
    border:1px;
    border-color:silver;
    border-style:groove;
}

div#master-sound-slider-header {

    margin-bottom:15px;
    color:white;
    font-size: 18px;
}

div#master-sound-slider {
    margin-left:145px;
    margin-bottom:50px;
    width:260px;

}

div#sfx-sound-slider-header {

    margin-bottom:15px;
    color:white;
    font-size: 18px;
}

div#sfx-sound-slider {
    margin-left:145px;
    margin-bottom:50px;
    width:260px;

}

div#music-sound-slider-header {

    margin-bottom:15px;
    color:white;
    font-size: 18px;
}

div#music-sound-slider {
    margin-left:145px;
    margin-bottom:50px;
    width:260px;

}



div#sound-settings.open {
  transition: opacity 0.25s ease-out;
  opacity: 1;
}

.open {
  z-index: 1000;
}