div#interface {
  position: fixed;
  bottom: 5px;
  width: 100%; }

div.ui-base {
  background: rgba(0, 0, 0, 0.7);
  border: 2px solid #bbbbbb; }

div.ui-modal {
  z-index: 0;
  position: absolute;
  top: 30px;
  transition: opacity 0.25s ease-out;
  opacity: 0;
  text-align: center;
  z-index: -100 !important; }
  div.ui-modal span.title {
    color: White;
    text-align: center; }

div.ui-modal.open {
  opacity: 1;
  z-index: 100 !important; }
