ul.unitframes {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 430px;
  float: left; }

ul.unitframes > li {
  float: left;
  display: block;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 12pt;
  letter-spacing: -0.5px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.7);
  border: 2px solid #bbbbbb; }
  ul.unitframes > li span {
    color: White; }
  ul.unitframes > li span.name {
    float: left; }
  ul.unitframes > li span.level {
    float: right; }
  ul.unitframes > li div.frame, ul.unitframes > li div.bars, ul.unitframes > li div.bar {
    float: left; }
  ul.unitframes > li div.frame, ul.unitframes > li div.bars {
    width: 100%; }
  ul.unitframes > li div.frame span {
    z-index: 10;
    line-height: 25px;
    font-size: 12pt;
    text-shadow: 0px 1px 2px black;
    position: absolute; }
  ul.unitframes > li div.frame span.total {
    left: 10px; }
  ul.unitframes > li div.frame span.percent {
    right: 10px; }
  ul.unitframes > li div.bar {
    z-index: 0;
    border-radius: 3px;
    transition: all 0.5s ease-out;
    width: 100%;
    height: 100%;
    position: relative; }

ul.unitframes li#player {
  width: 400px;
  height: 130px;
  padding: 10px; }
  ul.unitframes li#player div.bars {
    position: relative;
    top: 5px; }
  ul.unitframes li#player div.frame {
    border-radius: 3px;
    border: 1px solid white;
    position: relative;
    width: 100%;
    margin-bottom: 5px; }
  ul.unitframes li#player div.health.frame, ul.unitframes li#player div.mana.frame {
    height: 25px; }
  ul.unitframes li#player div.xp.frame {
    height: 5px; }

ul.unitframes li#target {
  width: 400px;
  height: 100px;
  padding: 10px;
  display: none; }
  ul.unitframes li#target div.bars {
    position: relative;
    top: 5px; }
  ul.unitframes li#target div.frame {
    border-radius: 3px;
    border: 1px solid white;
    position: relative;
    width: 100%;
    margin-bottom: 5px; }
  ul.unitframes li#target div.health.frame, ul.unitframes li#target div.mana.frame {
    height: 25px; }

div.health.frame div.bar {
  background: -moz-linear-gradient(top, #0ce511 0%, #08a500 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0ce511), color-stop(100%, #08a500));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #0ce511 0%, #08a500 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #0ce511 0%, #08a500 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #0ce511 0%, #08a500 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #0ce511 0%, #08a500 100%);
  /* W3C */ }

div.mana.frame div.bar {
  background: -moz-linear-gradient(top, #0c56e5 0%, #0e4cc4 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0c56e5), color-stop(100%, #0e4cc4));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #0c56e5 0%, #0e4cc4 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #0c56e5 0%, #0e4cc4 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #0c56e5 0%, #0e4cc4 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #0c56e5 0%, #0e4cc4 100%);
  /* W3C */ }

div.xp.frame div.bar {
  background: -moz-linear-gradient(top, #cee422 0%, #b8ca24 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cee422), color-stop(100%, #b8ca24));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #cee422 0%, #b8ca24 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #cee422 0%, #b8ca24 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #cee422 0%, #b8ca24 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #cee422 0%, #b8ca24 100%);
  /* W3C */ }
